/*
Additional classes added
*/

/*Custom font for entire app*/
@font-face {
    font-family: telecelfont;
    src: url(fonts/GOTHIC.TTF) format('truetype');
}

/*Ensure full width is utilised*/
.ui-full-width {
    width: 100% !important;
}

.full-screen-width-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.full-screen-width-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.icon-font-size-small {
    font-size: 14px !important;
    vertical-align: text-top;
}

.icon-font-size-med {
    font-size: 22px !important;
}

/*Prevent link underline*/
.no-underline {
    text-decoration: none !important;
}

/*for true center when showing text with logo in header*/
.header-text-without-logo {
    display: inline-block !important;
    vertical-align: middle;
    margin-top: 5px !important;
}

/*for true center when showing text with logo in header*/
.header-logo, .header-text-with-logo {
    display: inline-block !important;
    margin-top: 5px !important;
    vertical-align: middle;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.back-arrow {
    float: left;
    vertical-align: middle;
    padding: 8px 15px 5px 15px;
}

.header-options-link {
    float: right;
    font-size: 18px !important;
    vertical-align: middle;
    padding: 8px 20px 5px 15px;
}

/*for true center in header*/
.align-text-center, .align-text-center td, .align-text-center th {
    text-align: center !important;
}

/*for true center in header*/
.align-text-left {
    text-align: left !important;
}

/*for true center in header*/
.align-text-right {
    text-align: right !important;
}

/*for true center in header*/
.auto-align-center {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

/*For true center in header*/
.ui-bar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-text-with-logo-padding {
    margin-top: 10px;
    margin-bottom: 4px;
}

#divMainMenu {
    overflow: hidden; /* Use this or a "clearfix" to give the container height */
    font-size: 14px !important;
}

.main-menu-icon {
    object-fit: cover !important;
    height: 32px;
}

#telecash-icon {
    width: 80%;
}

#divMainMenu .custom-ui-block-a, #divMainMenu .custom-ui-block-b, #divMainMenu .custom-ui-block-c {
    float: none;
    margin: 0 !important;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}

/*For responsive main menu*/
/* 1st breakpoint - When screen is below 500px*/
@media all and (min-width: 16em) {
    #divMainMenu {
        overflow: hidden; /* Use this or a "clearfix" to give the container height */
        font-size: 14px !important;
    }

    .main-menu-icon {
        height: 64px !important;
    }

    #divTelecashImageWrapper {
        height: 68px !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    #divMainMenu .custom-ui-block-a:nth-child(odd), #divMainMenu .custom-ui-block-b:nth-child(odd), #divMainMenu .custom-ui-block-c:nth-child(odd) {
        float: left;
        width: 49.999%;
        margin: 0;
    }

    #divMainMenu .custom-ui-block-a:nth-child(even), #divMainMenu .custom-ui-block-b:nth-child(even), #divMainMenu .custom-ui-block-c:nth-child(even) {
        float: right;
        width: 49.999%;
        margin: 0;
    }

    #divMainMenu .custom-ui-block-a:nth-child(even), #divMainMenu .custom-ui-block-b:nth-child(even), #divMainMenu .custom-ui-block-c:nth-child(even) {
        float: right;
        width: 49.999%;
        margin: 0;
    }

}

@media all and (min-width: 36em) {

    #divMainMenu {
        overflow: hidden; /* Use this or a "clearfix" to give the container height */
        font-size: 18px !important;
    }

    #divMainMenu .custom-ui-block-a {
        float: left !important;
        width: 33.333% !important;
        margin: 0;
    }

    #divMainMenu .custom-ui-block-b {
        float: left !important;
        width: 33.333% !important;
        margin: 0;
    }

    #divMainMenu .custom-ui-block-c {
        float: left !important;
        width: 33.333% !important;
        margin: 0;
    }

    .main-menu-icon {
        height: 128px !important;
    }

}

.bold-text {
    font-weight: bold;
}

.red-text {
    color: #C1272D !important;
}

.blue-text {
    color: #8896ff !important;
}

.white-text {
    color: #FFF !important;
}

.black-text, .black-text a {
    color: #000 !important;
}

.div-red-background {
    background-color: #C1272D !important;
    /*border: 1px solid #6A1518;*/
    color: #FFF !important;
    text-shadow: 0px 1px 0px #444 !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
}

.div-grey-background {
    background-color: #ddd6d6;
    border: 1px solid #5f585b;
    color: #000;
}

.div-rounded-corners {
    border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    -khtml-border-radius: 0.3125em;

}

.menu-icons-margin {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.float-left {
    float: left;
}

.uppercase {
    text-transform: uppercase !important;
}

.initcap {
    text-transform: none !important;
}

.capitalize {
    text-transform: capitalize !important;
}

footer {
    width: 95px;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.add-btn-dlg-panel {
    display: none;
}

/*Style to align buy for self or buy for other*/
.ui-grid-a, .ui-grid-a .ui-controlgroup-controls {
    width: 100%
}

.hidden {
    display: none !important;
}

.shown {
    display: block !important;
}

/*Enable display input with icon*/
.input-with-icon {
    position: relative;
}

.input-with-icon input {
    padding-left: 25px;
}

.input-icon {
    font-size: 18pt;
    position: absolute;
    left: 10px;
    top: 5px;
}

.dollar-icon {
    font-size: 14pt;
    position: absolute;
    left: 10px;
    top: 8px;
}

.tabs-corners-first-child {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;

}

.tabs-corners-last-child {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

}

.half-width-custom .ui-input-text {
    width: 80%;
    display: inline-block;
    margin: 0px;
}

.balance-desc-font-size {
    font-size: 9pt;
}

.balance-font-size {
    font-size: 48pt;
}

.aboutPageNewLine {
    margin: 0px;
    display: block;
    font-style: italic;
}

.wrap-input-for-margins-15px {
    margin-top: 15px !important;
}

.wrap-input-for-margins-20px {
    margin-top: 25px !important;
}

.wrap-input-for-margins-25px {
    margin-top: 25px !important;
}

.ui-mini {
    margin: 0px !important;
}

.ui-mini.ui-btn {
    vertical-align: top !important;
    height: 2.3em !important;
}

.listview-big-thumbs a {

}

.listview-big-thumbs-img {
    width: 100% !important;
}

a.ui-mini.ui-btn {
    padding: 0px !important;
}

.custom-table {

    border: 1px solid #CCC;
    border-collapse: collapse;
}

.custom-table td {
    border: none;
    padding: 10px 20px;

}

/*FAQ Collapse start*/
.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}

.ui-li-static.ui-collapsible {
    padding: 0;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn, .ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

/*FAQ Collapse end*/

.mapLoading {
    background: url('images/ajax-loader.gif') center center no-repeat;
}

.hideBorderFirstListview li:last-of-type {
    border-bottom: none;
}

@keyframes anim {
    0% {
        font-size: 9px;
    }
    100% {
        font-size: 16px;
    }
}

#divPromotionsCount {
    animation: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#ppUnsubscribeFromBundle-popup {
    width: 80%;
    left: 10%;
    right: 10%
}

footer .ui-grid-c {
    padding-left: 2%;
    padding-right: 2%;
}

/*//this works for large screens when items in menu are exactly 12!!!*/
@media (min-height: 800px) and (min-width: 36em) {

    #divMainMenu .custom-ui-block-a {
        float: left !important;
        height: 23vh !important;
        margin: 0;
    }

    #divMainMenu .custom-ui-block-b {
        float: left !important;
        height: 23vh !important;
        margin: 0;
    }

    #divMainMenu .custom-ui-block-c {
        float: left !important;
        height: 23vh !important;
        margin: 0;
    }

}

.ui-faq-active {
    background-color: #eaeaea !important /*{b-bdown-background-color}*/;
    border-color: #808080 !important /*{b-bdown-border}*/;
    color: #000000 !important /*{b-bdown-color}*/;
    text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #eeeeee /*{b-bdown-shadow-color}*/ !important;
}

.btn-airtime-purchase-left {
    width: 49% !important;
    display: inline-block !important;
    float: left !important;
}

.btn-airtime-purchase-right {
    width: 49% !important;
    display: inline-block !important;
    float: right !important;
}

.halve-image-size {
    transform: scale(0.5);
}

.with-spinner {
    background: transparent url("images/ajax-loader.gif");
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.glow {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        -webkit-box-shadow: 0 0 12px -12px #c1272d /*{b-active-background-color}*/;
        -moz-box-shadow: 0 0 12px -12px #c1272d /*{b-active-background-color}*/;
        box-shadow: 0 0 12px -12px #c1272d /*{b-active-background-color}*/;
    }
    to {
        -webkit-box-shadow: 0 0 12px #c1272d /*{b-active-background-color}*/;
        -moz-box-shadow: 0 0 12px #c1272d /*{b-active-background-color}*/;
        box-shadow: 0 0 12px #c1272d /*{b-active-background-color}*/;
    }
}

#divCircles {
    width: 142px;
    z-index: 2 !important;
    position: fixed !important;
    right: 0 !important;
    bottom: 6em !important;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    left: 0 !important;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    margin-right: 15px;
    height: 10px;
    opacity: 0.5;
    background: #fff;
}

.circle.active {
    opacity: 1 !important;
}

#divBtnRegisterContainer {
    padding-top: 0.8em;
    z-index: 1 !important;
    background: #fafafa;
}

#divBtnBeginContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 2.5em;
    z-index: 1 !important;
    background: #9e191d;
}

.div-welcome-section {
    height: 90vh !important;
}

.alert-box {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 11px;
    padding: 10px 10px 10px 36px;
}

.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
}

.alert-dismissible {
    background: #ffecec url('../img/notification/error.png') no-repeat 10px 50%;
    border: 1px solid #f5aca6;
}

.error {
    background: #ffecec url('../img/notification/error.png') no-repeat 10px 50%;
    border: 1px solid #f5aca6;
}

.success {
    background: #e9ffd9 url('../img/notification/success.png') no-repeat 10px 50%;
    border: 1px solid #a6ca8a;
}

.warning {
    background: #fff8c4 url('../img/notification/warning.png') no-repeat 10px 50%;
    border: 1px solid #f2c779;
}

.notice {
    background: #e3f7fc url('../img/notification/notice.png') no-repeat 10px 50%;
    border: 1px solid #8ed9f6;
}

.marker-info {
    width: 100%;
    position: absolute;
    z-index: 5;
    background: rgba(193, 39, 45, 0.8);
    bottom: 0;
    color: #fff;
    text-shadow: none;
}

